.interaction-container{
    padding: 3dvh 3dvh 3dvh 10dvh;
    display: flex;
    width: 800px;
    gap:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: lavender;
    box-shadow: 0 0 3px #888;
}
.components-container{
    background: lavender;
    margin-top: 50px;
    padding: 50px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#submit-button{
    margin-top: auto;
    margin-bottom: auto;
    background: #8673A1 ;
}