.active {
    font-weight: bolder;
}
button {
    padding: 10px;
    display: block;
    border: none;
    background: #e6e6fa;
    text-decoration: none;
    width: auto;
}
button:hover{
    border: 2px solid black;
}
