.leaflet-container{
    height: 30vh;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
}
p{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
#text {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
h1{
    margin-left: 100px;
}