header {
    height: 100px;
    display:flex;
    margin-top: -10px;
    margin-right: -20px;
    margin-left: -20px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    background:#fff8dc;
    box-shadow: 0 0 3px #888;
}

.nav {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

#logo {
    width: 60px;
    border-radius: 5px;
}