.booking {
    overflow: hidden;
    position: relative;
}
.table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    margin-top: 4rem;
}
.header{
    background: #9a6aae;
    color: #ffffff;
}
.col {
    padding: 0.5rem;
    border-width: 1px;
    font-weight: 100;
    text-align: center;
}
.data {
    background: #f3eaea;
    color: #000000;
}
.smth {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.row{
    padding: 1.25rem 1rem;
    border-width: 1px;
    text-align: center;
}
.buttons {
    display: flex;
    padding: 0.8rem;
    background: white;
}